@model Foodsharing.Models.HomeViewModel
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            @foreach (Foodsharing.Models.MainImageContent item in Model.MainImage)
            {
                <div class="left-side">
                    <div class="masonry-box post-media">
                        <img src="/upload/@item.Image" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-aqua"><a href="blog-category-01.html" title="">@item.Type</a></span>
                                    <h4><a href="/Home/Blog" title="">@item.Title</a></h4>
                                    <small><a href="garden-single.html" title="">@item.Date.ToString("d MMM yyyy")</a></small>
                                    <small><a href="#" title="">@item.Autor</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end left-side -->
            }
        </div>
        </div>
</section>

<section class="section wb">
    <p class="h1 text-center mb-5 bg-aqua"><a>Top Six Products</a></p>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">

                    @{
                        Html.RenderPartial("~/Views/Shared/_Product.cshtml", Model.TopProduct);
                    }
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
            @*@{
                    Html.RenderPartial("~/Views/Shared/_Widget.cshtml");
                }*@
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">@Model.TitlePost.Title</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">

                                @foreach (Foodsharing.Models.Widget item in Model.RecentPost)
                                {
                                    <a href="/Home/Blog" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="/upload/@item.Image" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">@item.UnderTitle</h5>
                                            <small>@item.Date.ToString("d MMM yyyy")</small>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->
                    <div class="widget">
                        <h2 class="widget-title">@Model.Advertising.Title</h2>
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="/upload/@Model.Advertising.Image" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">@Model.Instagram.Title</h2>
                        <div class="instagram-wrapper clearfix">
                            @foreach (Foodsharing.Models.Widget item in Model.InstagramPhoto)
                            {
                                <a href="#"><img src="/upload/@item.Image" alt="" class="img-fluid"></a>
                            }
                        </div><!-- end Instagram wrapper -->
                    </div><!-- end widget -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end sidebar -->
    </div><!-- end col -->
</section>