
<div class="blog-list clearfix">
    @foreach (Foodsharing.Models.ProductContent item in Model)
    {
        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="@Url.Action("SingleProductPage", "Home", new { id = @item.IdProduit})" title="">
                        <img src="/upload/Products/@item.IdProduit/@item.Image" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <span class="bg-aqua"><a href="@Url.Action("Product", "Home", new { type = item.Type})" title="">@item.Type</a></span>
                
                <h4><a href="@Url.Action("SingleProductPage", "Home", new { id = @item.IdProduit})" title="">@item.Title</a></h4>
                <p>@item.Text</p>


                @if (@item.Bio == true)
                {
                    @:<small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> Bio</a></small>
                }
                else
                {
                    @:<small><a href="garden-category.html" title=""><i class="fa fa-eye"></i></a></small>
                }


                <small><a href="garden-single.html" title="">Expiration date: @item.DatePeremption.ToString("d.M.yyyy")</a></small>
                <small><a href="garden-single.html" title="">Quantity: @item.Quantite</a></small>
                <small><a href="#" title="">@item.Prenom @item.Nom</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->
        <hr class="invis">
    }

</div> @*end blog-list*@