@model Foodsharing.Models.ProfilModel
@{
    ViewBag.Title = "DonateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DonateProduct</h2>

<form class="form-wrapper" method="post">
    @Html.AntiForgeryToken()
    <input type="text" name="Nom" class="form-control" placeholder="Nom">
    @Html.ValidationMessageFor(model => model.DonateProduct.Nom, "", new { @class = "text-danger" })
    <input type="text" name="Description" class="form-control" placeholder="Description">
    @Html.ValidationMessageFor(model => model.DonateProduct.Description, "", new { @class = "text-danger" })
    <input type="checkbox" name="Bio" class="form-control" placeholder="Bio">
    @Html.ValidationMessageFor(model => model.DonateProduct.Bio, "", new { @class = "text-danger" })
    <input type="date" name="DatePeremption" class="form-control" placeholder="Date peremption">
    @Html.ValidationMessageFor(model => model.DonateProduct.DatePeremption, "", new { @class = "text-danger" })
    <input type="date" name="DateFin" class="form-control" placeholder="Date fin">
    @Html.ValidationMessageFor(model => model.DonateProduct.DateFin, "", new { @class = "text-danger" })
    <input type="date" name="DateProposition" class="form-control" placeholder="Date Proposition">
    @Html.ValidationMessageFor(model => model.DonateProduct.DateProposition, "", new { @class = "text-danger" })
    <input type="text" name="Etat" class="form-control" placeholder="Etat">
    @Html.ValidationMessageFor(model => model.DonateProduct.Etat, "", new { @class = "text-danger" })
    <input type="text" name="Src" class="form-control" placeholder="Photo">
    @Html.ValidationMessageFor(model => model.DonateProduct.Src, "", new { @class = "text-danger" })
    <input type="number" name="Quantite" class="form-control" placeholder="Quantité">
    @Html.ValidationMessageFor(model => model.DonateProduct.Quantite, "", new { @class = "text-danger" })
    <input type="text" name="Type" class="form-control" placeholder="Type">
    @Html.ValidationMessageFor(model => model.DonateProduct.Type, "", new { @class = "text-danger" })
    <input type="text" name="Pays" class="form-control" placeholder="Pays">
    @Html.ValidationMessageFor(model => model.DonateProduct.Pays, "", new { @class = "text-danger" })
    <input type="text" name="Title" class="form-control" placeholder="Title photo">
    @Html.ValidationMessageFor(model => model.DonateProduct.Title, "", new { @class = "text-danger" })
    <input type="text" name="Marque" class="form-control" placeholder="Marque">
    @Html.ValidationMessageFor(model => model.DonateProduct.Marque, "", new { @class = "text-danger" })
    <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>-->
