@model Foodsharing.Models.ProfilModel

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyProfile</h2>

@{
    string ProfilePhoto = "";
    if (Model.Photo == null || Model.Photo == "")
    {
        ProfilePhoto = "https://www.pngitem.com/pimgs/m/146-1468843_profile-icon-orange-png-transparent-png.png";
    }
    else
    {
        ProfilePhoto = "/images/Users/" + Model.IdUser + "/" + Model.Photo;
    }
}
<div>Login: @Model.Login</div>
<div>Name: @Model.Name</div>
<div>Firstname: @Model.FirstName</div>
<div>Birthdate: @Model.Birthdate.ToString("d MMM yyyy")</div>


<a href="~/Member/Home/EditPhoto" class="profile-edit-btn btn btn-light">Change Photo</a>
<img src="@ProfilePhoto" alt="" />
<div>Address</div>
<div>Street: @Model.Rue Number: @Model.Numero</div>
<div>CP: @Model.CP</div>
<div>City: @Model.Ville</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>