@model Foodsharing.Models.SignUpModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <br />
            <form class="form-wrapper" method="post">
                @Html.AntiForgeryToken()
                <input type="text" name="Nom" class="form-control" placeholder="Your name">
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                <input type="text" name="Prenom" class="form-control" placeholder="Your first name">
                @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                <input type="email" name="Email" class="form-control" placeholder="Email address">
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <input type="date" name="DateNaiss" class="form-control" placeholder="Your birthdate">
                @Html.ValidationMessageFor(model => model.DateNaiss, "", new { @class = "text-danger" })
                <input type="text" name="Rue" class="form-control" placeholder="Street">
                @Html.ValidationMessageFor(model => model.Rue, "", new { @class = "text-danger" })
                <input type="text" name="Numero" class="form-control" placeholder="Number">
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                <input type="text" name="Ville" class="form-control" placeholder="City">
                @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                <input type="text" name="CP" class="form-control" placeholder="Postal code">
                @Html.ValidationMessageFor(model => model.CP, "", new { @class = "text-danger" })
                <input type="text" name="Photo" class="form-control" placeholder="Photo">
                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                <button type="submit" class="btn btn-primary">Sign Up <i class="fa fa-user-o p-2" aria-hidden="true"></i></button>
            </form>
            @if (ViewBag.SuccessMessage != null)
            {
                @:<div class="alert alert-success">@ViewBag.SuccessMessage</div>
            }

            @if (ViewBag.ErrorMessage != null)
            {
                @:<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }
        </div>
    </div>
<br/>
       


       


 
  


